node_modules
dist
build
results
.nyc_output
*.tsbuildinfo
coverage
.idea
report
.DS_Store
.eslintcache
.jscpd
docs
.cache
tmp
sandbox
/tmp/
.env
screenshots/*.png
data/
logs/*.log
logs/*.json
logs/*.gz
*.log
model.json
tmp.sql
fixtures
